DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=dev-secret-key-change-me
# DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,.localhost,.amazonaws.com
DJANGO_ALLOWED_HOSTS=*

POSTGRES_DB=saas
POSTGRES_USER=saas
POSTGRES_PASSWORD=saas
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_CSRF_TRUSTED_ORIGINS=http://*.tudominio.com,https://*.tudominio.com